<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
</head>
<style>
    .content {
      max-width: 800px;
      margin: auto;
    }
    </style>
<body style="background-color:powderblue;" , style="text-align: center;"></body>
    <div class="content">
    
    {% for message in messages %} 
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    
    <h1>WELCOME TO USER LOGIN PAGE</h1>

    {% if user.is_authenticated %}
    <h1>Hello {{frame}}</h1>
    <h2>You're successfully logged in.</h2>
    <button type="submit"><a href="/signout">SignOut</a></button>
    
    {% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}

</div>

    <script src="" async defer></script>
</body>
</html>