<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
</head>
<style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
<body style="background-color:powderblue;" , style="text-align: center;">
    <div class="content">

    {% for message in messages %} 
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <h1 style="color:black;">Sign Up</h1>

    
    <form action="/signup" method="post">
       {%  csrf_token %}
       <label for="">Username</label>
       <input type="text" id="username" name="username" placeholder="Create a Username (only letters and numbers)" Required>
       <br><br>

       <label for="">First Name</label>
       <input type="text" id="fname" name="fname" placeholder="Enter Your First Name" Required>
       <br><br>

       <label for="">Last Name</label>
       <input type="text" id="lname" name="lname" placeholder="Enter Your Last Name" Required>
       <br><br>

       <label for="">Email Address</label>
       <input type="email" id="email" name="email" placeholder="Enter Your Email Address" Required>
       <br><br>

       <label for="">Password</label>
       <input type="password" id="pass1" name="pass1" placeholder="Create a Password" Required>
       <br><br>

       <label for="">Confirm your Password</label>
       <input type="password" id="pass2" name="pass2" placeholder="Confirm Your Password" Required>
       <br><br>

       <button type="submit">Sign Up</button>
    </form>

</div>
    <script src="" async defer></script>
</body>
</html>